
body{
  background-color: rgb(13, 17, 23);
  }
  
  .app-header {
  font-size:16;
  background-color: rgb(33, 38, 45);
  padding-left:10px;
  }
  
  .app-header .navbar-brand {
  font-size:25;
  font-family: consolas;
  color: white;
  }
  
  .app-header .nav-link {
  color: white;
  }
  
  .app-header .nav-link:hover {
  color: gray;
  }
  
  .navbar-toggler {
  color: white;
  }
  
  .MPContainer {
    padding: 10px;
    width: 100%;
  }
  
  .card {
    width: 290px;
    color: snow;
    background-color: rgb(33, 38, 45);
    margin: 5px;
    cursor: pointer;
    border: 2px solid transparent;
  }
  
  .card:hover {
  border-color: darkblue;
  }
  
  .user_avatar{
    width: 128px;
    height: 128px;
  }
  
  .transparent-footer {
    background-color: rgb(33, 38, 45);
    color: grey;
    text-align: center;
    padding: 20px;
  }
  
  .transparent-footer p {
    margin-bottom: 10px;
  }
  
  .transparent-footer ul {
    list-style-type: none;
    padding: 0;
  }
  
  .transparent-footer ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .transparent-footer ul li a {
    text-decoration: none;
    color: grey;
  }
  
  .transparent-footer ul li a:hover {
    color: white;
  }